@import 'ag-grid-community/styles/ag-theme-alpine.css';


.overlay
{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.623);

    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.dialog
{
    width: 1000px;

    background: white;

    border-radius: 10px;

    overflow: hidden;
}

.dialog-header
{
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px;

    border-bottom: 2px solid #004b25;

}

.dialog-title
{
    color: rgb(0, 75, 56);
    font-size: 20px;
    font-weight: bold;
}

.dialog-body
{
    flex: 1;
}

.close-button
{
    background: rgb(255, 98, 98);

    height: 30px;
    width: 30px;

    border-radius: 50%;

    padding: 5px;


    color: rgb(73, 0, 0);

    border: none;

    font-size: 15px;

    cursor: pointer;
}

.close-button:hover
{
    background: rgb(73, 0, 0);

    color: rgb(255, 98, 98);

    transition: all 0.3s ease-in-out;

}

.grid-container
{

    flex: 1;
    padding: 15px;

}

.ag-theme-alpine
{
    height: 100%;

    width: 100%;

    --ag-font-size: 13px;

    --ag-font-family: Inter, Segoe UI, sans-serif;

    --ag-row-height: 42px;

    --ag-header-height: 46px;

    --ag-border-color: #000c24;

    --ag-header-background-color: #cdf3ff;

    --ag-header-foreground-color: #000b24;

    --ag-foreground-color: #28313f;

    --ag-background-color: #ffffff;

    --ag-row-hover-color: rgba(0, 72, 85, 0.144);

    --ag-selected-row-background-color:
        rgba(37,99,235,0.15);
}

:host ::ng-deep .ag-floating-filter
{
    display: flex;

    align-items: center;
}


:host ::ng-deep .ag-floating-filter-body input
{
    width: 100%;

    height: 70%;

    margin-top: 7px;

    padding: 0 8px;

    border: 1px solid #d1d9db;

    background: #fcffce;

    border-radius: 4px;

    font-size: 14px;
}

:host ::ng-deep .ag-floating-filter-button
{
    display: none;
}

.ag-theme-alpine .ag-header-cell-label
{
    font-weight: 600;
}

.search-row::-webkit-scrollbar,
.ag-body-viewport::-webkit-scrollbar
{
    height: 8px;

    width: 8px;
}

.search-row::-webkit-scrollbar-thumb,
.ag-body-viewport::-webkit-scrollbar-thumb
{
    background: #cbd5e1;

    border-radius: 10px;
}

:host ::ng-deep .lookup-grid .ag-body-vertical-scroll-viewport::-webkit-scrollbar,
:host ::ng-deep .lookup-grid .ag-body-horizontal-scroll-viewport::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}

:host ::ng-deep .lookup-grid .ag-body-vertical-scroll-viewport::-webkit-scrollbar-track,
:host ::ng-deep .lookup-grid .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track
{
    background: #f1f5f9;
}

:host ::ng-deep .lookup-grid .ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb,
:host ::ng-deep .lookup-grid .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb
{
    background: #64748b;
    border-radius: 999px;
}

:host ::ng-deep .lookup-grid .ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb:hover,
:host ::ng-deep .lookup-grid .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover
{
    background: #475569;
}