@import 'ag-grid-community/styles/ag-theme-alpine.css';

.overlay
{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.623);

    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.dialog
{
    width: 1000px;

    background: #EAE0CF;

    border-radius: 10px;

    overflow: hidden;
}

.dialog-header
{
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px;

    border-bottom: 2px solid #4B5694;
}

.dialog-title
{
    color: #111844;

    font-size: 20px;

    font-weight: bold;
}

.dialog-body
{
    flex: 1;
}

.close-button
{
    background: rgb(255, 98, 98);

    height: 30px;
    width: 30px;

    border-radius: 50%;

    padding: 5px;

    color: rgb(73, 0, 0);

    border: none;

    font-size: 15px;

    cursor: pointer;
}

.close-button:hover
{
    background: rgb(73, 0, 0);

    color: rgb(255, 98, 98);

    transition: all 0.3s ease-in-out;
}

.grid-container
{
    flex: 1;

    padding: 15px;
}

.ag-theme-alpine
{
    height: 100%;

    width: 100%;

    --ag-font-size: 14px;

    --ag-font-family: Inter, Segoe UI, sans-serif;

    --ag-row-height: 42px;

    --ag-header-height: 46px;

    --ag-border-color: #111844;

    --ag-header-background-color: #4B5694;

    --ag-header-cell-color: #FFFFFF;

    --ag-foreground-color: #111844;

    --ag-background-color: #EAE0CF;

    --ag-row-hover-color: rgba(114, 136, 174, 0.20);

    --ag-selected-row-background-color: rgba(75, 86, 148, 0.20);
}

:host ::ng-deep .ag-header-cell-text
{
    color: #EAE0CF;
    font-weight: 600;
    font-size: 16px;
}

:host ::ng-deep .ag-floating-filter
{
    display: flex;

    align-items: center;
}

:host ::ng-deep .ag-floating-filter-body input
{
    width: 100%;

    height: 70%;

    margin-top: 7px;

    padding: 0 8px;

    border: 1px solid #4B5694;

    background: #7288AE;

    color: #FFFFFF;

    border-radius: 4px;

    font-size: 14px;
}

:host ::ng-deep .ag-floating-filter-body input::placeholder
{
    color: #EAE0CF;
}

:host ::ng-deep .ag-floating-filter-button
{
    display: none;
}

.ag-theme-alpine .ag-header-cell-label
{
    font-weight: 600;
}

.search-row::-webkit-scrollbar,
.ag-body-viewport::-webkit-scrollbar
{
    height: 8px;

    width: 8px;
}

.search-row::-webkit-scrollbar-thumb,
.ag-body-viewport::-webkit-scrollbar-thumb
{
    background: #7288AE;

    border-radius: 10px;
}

:host ::ng-deep .lookup-grid .ag-body-vertical-scroll-viewport::-webkit-scrollbar,
:host ::ng-deep .lookup-grid .ag-body-horizontal-scroll-viewport::-webkit-scrollbar
{
    width: 10px;

    height: 10px;
}

:host ::ng-deep .lookup-grid .ag-body-vertical-scroll-viewport::-webkit-scrollbar-track,
:host ::ng-deep .lookup-grid .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track
{
    background: #EAE0CF;
}

:host ::ng-deep .lookup-grid .ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb,
:host ::ng-deep .lookup-grid .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb
{
    background: #7288AE;

    border-radius: 999px;
}

:host ::ng-deep .lookup-grid .ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb:hover,
:host ::ng-deep .lookup-grid .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover
{
    background: #4B5694;
}