<div class="overlay">

    <div class="dialog">

        <div class="dialog-header">

        <span class="dialog-title">{{ title }}</span>

            <button 
                class="close-button"
                type="button"
                (click)="close()">
                X
            </button>

        </div>


        <div class="dialog-body">

            <!-- Grid -->

            <div class="grid-container ag-theme-alpine lookup-grid">

                <ag-grid-angular

                    style="width:100%; height:500px;"

                    [rowData]="rowData"

                    [columnDefs]="columnDefs"

                    [defaultColDef]="defaultColDef"

                    [pagination]="true"

                    (filterChanged)="onFilterChanged($event)"

                    (rowDoubleClicked)="onRowDoubleClick($event)">

                </ag-grid-angular>

            </div>


        </div>

    </div>

</div>