<div class="purchase-entry-container">
    <div class="purchase-form-title">Purchase Entry</div>

    <div class="purchase-form">

            <div class="three-column">

                <div class="main-row">
                    <label for="inwardNo">Inward No.</label>
                    <input type="text" 
                    name="inwardNo" 
                    [value]="nextInwardNo"
                    readonly>
                </div>

                <div class="main-row">
                    <label for="chalanNo">Chalan No.</label>
                    <input type="number" 
                    name="chalanNo"
                    placeholder="Enter Chalan No."
                    [(ngModel)]="chalanNo">
                </div>
                <div class="main-row">
                    <label for ="pdate">Purchase Date</label>
                    <input type="date"
                    name="pdate"
                    [(ngModel)]="pDate"
                    [max]="maxDate">
                </div>

            </div>
            
            <div class="two-column">
                
                <div class="main-row">
                <label for="partyName">Party Name</label>
                    <select type="dropdown"
                    name="partyName"
                    [(ngModel)]="partyName">
                        <option value="">Select Party name</option>
                        <option value="Party 1">Party 1</option>
                        <option value="Party 2">Party 2</option>
                        <option value="Party 3">Party 3</option>
                        <option value="Party 4">Party 4</option>
                        <option value="Party 5">Others Retailers</option>
                    </select>
                </div>  
                
                <div class="main-row">
                    <label for="terms">Terms</label>
                    <input type="number"
                    name="terms"
                    placeholder="Enter Terms"
                    [(ngModel)]="terms">
                </div>

            </div>
           
            <div class="two-column">

                <div class="main-row">

                    <label for="remarks">Remarks</label>
                    <input type="text"
                    name="remarks"
                    [(ngModel)]="remarks">
                </div>

                <div class="main-row">

                    <label for="purchaseBy">Purchase By</label>
                    <select type="dropdown"
                    name="purchaseBy"
                    [(ngModel)]="purchaseBy">
                        <option value="">Select Purchase By</option>
                        <option value="Purchase By 1">Purchase By 1</option>
                        <option value="Purchase By 2">Purchase By 2</option>
                        <option value="Purchase By 3">Purchase By 3</option>
                    </select>
                </div>

            </div>

    </div>
        
    <div class="purchase-details-title">Purchase Details</div>

    <div class="detail-section">

        <!-- Left Side Form -->
        <div class="detail-form">
            <!-- Item -->
            <div class="form-row">
                <label>Item</label>
                <select [(ngModel)]="detailItem.ItemName">
                    <option value="">Select Item</option>
                    <option value="Item 1">Item 1</option>
                    <option value="Item 2">Item 2</option>
                    <option value="Item 3">Item 3</option>
                </select>
            </div>

            <!-- Sub Parts -->
            <div class="form-row">
                <label>Sub Parts</label>
                <select [(ngModel)]="detailItem.SubParts">
                    <option value="">Select Sub Part</option>
                    <option value="Sub Part 1">Sub Part 1</option>
                    <option value="Sub Part 2">Sub Part 2</option>
                    <option value="Sub Part 3">Sub Part 3</option>
                </select>
            </div>

            <!-- Qty / Rate -->
            <div class="two-column">
                <div class="form-row">
                    <label>Qty</label>
                    <input type="number"
                    [(ngModel)]="detailItem.Quantity"
                    (input)="calculateAmount()"
                    (keypress)="allowThreeDecimals($event)">
                </div>

                <div class="form-row">
                    <label>Rate</label>
                    <input type="number"
                    [(ngModel)]="detailItem.Rate"
                    (input)="calculateAmount()"
                    (keypress)="allowThreeDecimals($event)">
                </div>
            </div>

            <!-- CGST / SGST -->
            <div class="two-column">
                <div class="form-row">
                    <label>CGST</label>
                    <input type="number"
                    [(ngModel)]="detailItem.CGST"
                    (input)="calculateAmount()"
                    (keypress)="allowThreeDecimals($event)">
                
                </div>

                <div class="form-row">
                    <label>SGST</label>
                    <input type="number"
                    [(ngModel)]="detailItem.SGST"
                    (input)="calculateAmount()"
                    (keypress)="allowThreeDecimals($event)">
                </div>
            </div>

            <!-- SerTax / Amount -->
            <div class="two-column">
                <div class="form-row">
                    <label>SerTax</label>
                    <input type="number"
                    [(ngModel)]="detailItem.SerTax"
                    (input)="calculateAmount()"
                    (keypress)="allowThreeDecimals($event)">
                </div>

                <div class="form-row">
                    <label>Amount</label>
                    <input type="number"
                    [(ngModel)]="detailItem.Amount"
                    readonly>
                </div>
            </div>

            <div class="form-row">
                <label>Remarks</label>
                <input type="text"
                [(ngModel)]="detailItem.Remarks">
            </div>

            <div class="button-row">
                <button (click)="addItem()">{{ isEditMode ? 'Update' : 'Save' }}</button>
                <button (click)="clearDetailForm()">Clear</button>
            </div>
                

        </div>

        <!-- Right Side Grid -->
        <div class="ag-theme-alpine detail-grid">

            <ag-grid-angular
            style="width: 100%; height: 400px;"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            (rowDoubleClicked)="onRowDoubleClick($event)">
            </ag-grid-angular>

        </div>

    </div>

    <hr style="border: 1px solid rgb(0, 75, 56);">

        <div class="purchase-summary-section">

            <div class="rows">
            
                <label for="totalAmount">Total Amount</label>
                <input type="number"
                name="totalAmount" 
                [(ngModel)]="totalAmount"
                readonly>

            </div>
                
            <div class="rows">

                <label for="discount">Discount(%)</label>
                <input type="number"
                name="discount"
                [(ngModel)]="discountPercent"
                (input)="calculateNetAmount()">
            
            </div>

            <div class="rows">

                <label for="extraCost">Extra Cost</label>
                <input type="number"
                name="extraCost"
                [(ngModel)]="extraCost"
                (input)="calculateNetAmount()">
            
            </div>

            <div class="rows">

                <label for="netAmount">Net Amount</label>  
                <input type="number"
                name="netAmount"
                [(ngModel)]="netAmount"
                readonly>
            </div>
        </div>

        <div class="final-button-row">
            <button (click)="savePurchase()">
                            {{ isEditPurchaseMode
                                ? 'Update'
                                : 'Save Purchase' }}
            </button>
            <button (click)="openFindDialog()">Find Form</button>
            @if(showFindDialog)
            {
                <app-find-dialog

                    title="Find Purchase Entry"

                    [tableName]="'PurchaseMaster'"

                    (rowSelected)="onPurchaseSelected($event)"

                    (dialogClosed)="closeFindDialog()">

                </app-find-dialog>
            }
            <button (click)="resetPurchaseScreen()">Clear Form</button>
            <button (click)="deletePurchase()"
            [disabled]="!isEditPurchaseMode"
            class="btn-danger"
            >Delete
            </button>
        </div>

</div>